@import 'vendor/hamburger';
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    &:hover{
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    }
}
h3{
    font-size: 20px;
}
body{
    background-color: rgb(231, 231, 231);
    header{
        width: 100vw;
        height: 100px;
        .logo{
            height: 100%;
            padding: 30px 40px;
            img{
                height: 100%
            }
        }
        .roles{
            height: 100%;
            .role{
                cursor: pointer;
                float: right;
                position: relative;
                top: 50%;
                padding: 5px 20px;
                margin: auto 0px;
                margin-left: 20px;
                transform: translateY(-50%);
                display: inline-block;
                border-bottom: 2px solid #26180a00;
                &.role-active,&:hover{
                    border-bottom: 2px solid #26180a;
                }
                &:hover + .role{
                border-bottom: 2px solid #26180a00;
                }
                &:active{
                    padding-bottom: 3px;
                    border-bottom: 4px solid #26180a;
                    
                }
            }
        }
        .hamburger{
            float: right;
            height: 100%;
            padding: 30px 40px;
        }
    }
    main{
        width: 100vw;
        
        article{

            position: relative;
            width: 100vw;
            height: 100vh;
            &.splash{
                position: relative;
                width: 100vw;
                height: 100%;
                .left{
                    height:100vh;
                    .circles{
                        position: sticky;
                        top: 50vh;
                        transform: translateY(-50%);
                        width: 200px;
                        .circle{
                            display: block;
                            position: relative;
                            width: 40px;
                            height: 40px;
                            margin: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: rgb(230, 230, 230);
                            border-radius: 50%;
                            filter: drop-shadow(-3px -3px 5px #ffffff) drop-shadow(2px 2px 2px #b3b3b3);
                            transition-duration: 0.05s;
                            
                            &:hover{
                                filter: drop-shadow(-3px -3px 6px #ffffff) drop-shadow(3px 3px 2px #b3b3b3);
                                transform: scale(1.05);
                                transition-duration: 0.1s;
                            }
                            &:active{
                                filter: none;
                                line-height: 42px;
                            
                            }
                            .circleLabel{
                                display: block;
                            }
                        }
                    }
                }
                .right{
                    background-color: rgba(0, 0, 0, 0.00);
                    .splashPortfolioName{
                        position: relative;
                        top: calc(40vh - 100px);
                        right: 0px;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 100px;
                        svg{
                            width: 50vw;
                            float: right;
                            margin-right: 40px;
                            .fullstack{
                                fill: #26180abb;
                                font-size: 5px;
                                .fullstacka{
                                    fill: #26180a9c;
                                }
                                .fullstackb{
                                    fill: #26180a7a;
                                }
                            }
                        }
                    }
                    .splashArrow{
                        position: relative;
                        bottom: -100px;
                        height: 100px;
                        svg{
                            float: right;
                            height: 100%;
                            margin: 0px 70px;
                            margin-top: 0px;
                            animation-name: upDown;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                        }
                    }
                }
            }
            &.info{
                .infoCard{
                    position: relative;
                    width:calc(100% -  80px);
                    height: auto;
                    margin: 40px;
                    padding: 10px;
                    border-radius: 20px;
                    background-color: rgb(230, 230, 230);
                    filter: drop-shadow(-3px -3px 5px #ffffff) drop-shadow(2px 2px 2px #b3b3b3);
                    .profile{
                        width: calc(100% -  40px);
                        margin: 20px;
                        background-color: rgb(241, 241, 241);
                        border-radius: 50%;
                        padding-top: calc(100% -  40px);
                        background: url('../img/abhayIllustration.jpg');
                        background-size: 100%;
                    }
                    .profileInfo{
                        text-align: center;
                    }
                }
            }
        }
        .scrollHeader{
            margin: 0px 40px;
            .menu{
                h5{
                    margin: 10px 20px;
                    text-align: center;
                    color: #26180aa4;
                }
            }
        }
        .portfolioSection{
            width: calc(100vw - 80px);
            margin:40px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.02);
        }
        /* right-diagonal-1 */
        .right-diagonal-1{
            width: 100vw;
            height: 100vh;
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
            background-color: rgba(0, 0, 0,0.05);
        }
    }
}
@keyframes upDown {
    0% {margin-top: 0px;}
    25% {margin-top: 40px;}
    50% {margin-top: 0px;}
    75% {margin-top: 40px;}
    100% {margin-top: 0px;}
  }

//Text Reweal

  
  .container {
    font-size:40px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing:1.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    height:40px;
  }
  
  .container * {
    display:inline-block;
    overflow:hidden;
    position:absolute;
  }
  
  .bar {
    width:3px;
    height:49px;
    position:absolute;
    top:-1px;
  }